.service {
  padding-bottom: 94px;
  background-color: var(--color-light);
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-list__item:not(:last-child) {
  margin-right: 30px;
}

.service-list__item {
  width: 370px;
  position: relative;
}

.service-list__container {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  position: absolute;
  bottom: 0;
}

.service-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-light);
  padding-top: 27px;
  padding-bottom: 27px;
}
