.team {
  background-color: var(--color-bg-light);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.member-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.member-list__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.member-list__container {
  padding: 30px 0;
  background: var(--color-light);
  border-radius: 0px 0px 4px 4px;
}

.member-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.member-list__description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.soc-networking {
  display: flex;
  justify-content: center;
}

.soc-networking__item:not(:last-child) {
  margin-right: 10px;
}

.soc-networking__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-dur-tf);

  &:hover,
  &:focus {
    background-color: var(--color-accent);
  }
}

.soc-networking__link--light {
  background-color: var(--color-light);
}

.soc-networking__icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-tf);
  .soc-networking__link:hover &,
  .soc-networking__link:focus & {
    fill: var(--color-light);
  }
}
